.home_page_container {
  width: 100%;
  overflow-x: hidden;
}

.home_page_section {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  padding-top: 4rem;
  justify-content: center;
  background: #28293E;
}
